.footer {
  margin: 0;
  padding: 92px 48px 24px;
  min-height: 134px;
  max-width: 1280px;
  box-sizing: border-box;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 1023px;
    min-height: 130px;
    padding-top: 88px;
    padding-bottom: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
}
